<div class="container">
  <div class="row">
    <div class="large-7 columns">
      <h1>Viewing <%= @customer.name %>'s Invoices</h1>
    </div>
    <div class="large-5 columns">
      <ul class="right button-group">
        <li class="button"><%= link_to 'Back to Customers', customers_path, {:style=>'color:white'} %></li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns large-centered">
      <div id="canvas-holder">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>


  <div class="row">
     <div class="large-12 columns">
        <table border="1">
          <thead>
            <tr>
              <th>Invoice Id</th>
              <th>Date</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>Postal Code</th>
              <th>Total Cost</th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |i| %>
              <tr>
                <td><%= i.InvoiceId %></td>
                <td><%= i.InvoiceDate %></td>
                <td><%= i.BillingAddress %></td>
                <td><%= i.BillingCity %></td>
                <td><%= i.BillingState %></td>
                <td><%= i.BillingCountry %></td>
                <td><%= i.BillingPostalCode %></td>
                <td><%= i.Total %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
     </div>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© 2015 Connor MacDonald</p>
        </div>

      </div>
    </div>
  </footer>
</div>
<%
    @totals = Array.new
    @invoices.each do |i|
        @totals.push(i.Total)
    end
%>
<%= javascript_tag do %>
    var data = [

        <% for i in 0..@totals.length-1 %>
        {
            value: <%= @totals[i] %>,
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: "Purchase"
        }<% if i = @totals.length-1 %>
              ,
         <%end%>
        <% end %>
    ]

    var options = [
        {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke : true,

        //String - The colour of each segment stroke
        segmentStrokeColor : "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth : 1,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout : 0, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps : 100,

        //String - Animation easing effect
        animationEasing : "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate : true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale : false,
      }
    ];
        var ctx = document.getElementById("myChart").getContext("2d");
        var myPieChart = new Chart(ctx).Pie(data);

<% end %>
