<%= form_for(@user) do |f| %>
	<div>
		<%= f.label :username %><br>
		<%= f.text_field :username %>
	</div>

	<div>
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</div>

	<div>
		<label for="user_EmployeeId">Employee</label><br>
		<%= f.collection_select :employeeId, @employees, :EmployeeId, :name, include_blank: true %>
	</div>

	<br>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>