<!DOCTYPE html>
<html>
<head>
  <title>ChinookEmployees</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'Chart' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'app' %>
  <%= javascript_include_tag 'jquery.min'%>
  <%= javascript_include_tag 'responsive-tables'%>
  <%= javascript_include_tag 'foundation'%>
  <%= javascript_include_tag 'app' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
